@import 'fonts.less';
@import 'mixins.less';
@import 'variables.less';
@import 'buttons.less';

//Autovox Footer
@{dte-pages} {
    #footer-outer {
        .container {
            max-width: 300px !important;

            background: none;
        }

        #copyright {
            width: 100%;
            padding: 20px 0;
            margin: 0;

            li a {
                height: 85px;
            }
        }

        .row {
            margin: 0;
        }
    }
}

//DTE Footer
.site-footer.dte {
    color: @cod-gray;
    background: @alabaster;

    font-family: @dte-primary-font;
    font-size: 14px;

    .top-section {
        position: relative;

        padding: 30px 15px 0;
        margin: auto;

        .flex-display();
        .flex-direction(row);
        .flex-wrap(wrap);

        &:before {
            position: absolute;
            top: -7px;
            left: 50%;

            color: @white;

            font-family: @google-icon-font;
            font-size: 70px;
            text-align: center;

            content: 'arrow_drop_down';

            .transform(translateX(-50%));
        }

        a {
            color: @cod-gray;

            &:hover {
                color: @thunderbird;

                text-decoration: none;
            }
        }
    }

    h3 {
        margin-bottom: 15px;

        color: @thunderbird;

        font-size: 18px;
    }

    .footer-block {
        margin-bottom: 30px;
        width: 200px;
    }

    .bottom-section {
        display: none;

        height: 30px;

        background: @cod-gray;
    }
}

//Screens with a width of 360px and up
@media only screen  and (min-width: @screen__xxss) {
    //Autovox Footer
    @{dte-pages} {
        #footer-outer {
            .row {
                margin: 0 -15px;
            }
        }
    }
}

//Screens with a width of 640px and up
@media only screen  and (min-width: @screen__s) {
    //DTE Footer
    .site-footer.dte {
        .top-section {
            padding: 30px 30px 0;
        }

        .footer-block {
            margin-bottom: 30px;
            width: 50%;
        }
    }
}

//Screens with a width of 690px and up
@media only screen  and (min-width: @screen__sm) {
    //Autovox Footer
    @{dte-pages} {
        #footer-outer {
            .container {
                max-width: 600px !important;
                padding: 0 15px;
            }
        }
    }
}

//iPad screen and up
@media only screen  and (min-width: @screen__m) {
    //DTE Footer
    .site-footer.dte {
        .top-section {
            max-width: 760px;

            .justify-content(space-between);
        }

        .footer-block {
            width: auto;
        }
    }
}

//Screens with a width of 1000px and up
@media only screen  and (min-width: @screen__sl) {
    //Autovox Footer
    @{dte-pages} {
        #footer-outer {
            .container {
                max-width: 1425px !important;
                padding: 0 90px;
            }
        }
    }
}