@import 'fonts.less';
@import 'mixins.less';
@import 'variables.less';
@import 'buttons.less';

.site-header.dte {
    padding-top: 30px;

    background: @cod-gray;

    .logo {
        display: block;
        width: 215px;
        margin: auto;
    }

    img {
        width: 100%;
    }

    a {
        color: @white;

        font-family: @dte-primary-font;
        text-decoration: none;

        &.menu-toggle {
            width: 25%;
            height: 44px;

            font-size: 16px;

            .flex-display(inline-flex);
            .justify-content(center);
            .align-items(center);

            &:hover {
                opacity: .8;
            }

            i {
                font-size: 28px;
            }

            .label {
                margin-left: 8px;
            }

            &.active {
                opacity: 1;

                color: @thunderbird;
            }
        }
    }

    //Mega Menu
    #mega-menu-wrap-dte-header {
        background: none;

        font-family: @dte-primary-font;

        .mega-menu-toggle {
            width: 25%;

            background: none;

            .mega-toggle-blocks-center,
            .mega-toggle-blocks-right {
                display: none;
            }

            .mega-toggle-blocks-left {
                .justify-content(center);

                .mega-toggle-block {
                    margin-left: 0;

                    .justify-content(center);
                }
            }

            .mega-toggle-block-1 {
                &:before {
                    font-family: @google-icon-font;
                    font-size: 28px;

                    content: 'menu';
                }

                .mega-toggle-label .mega-toggle-label-closed,
                .mega-toggle-label .mega-toggle-label-open {
                    font-family: @dte-primary-font;
                    font-size: 16px;
                }

                .mega-toggle-label .mega-toggle-label-open {
                    color: @thunderbird;
                }
            }

            &.mega-menu-open {
                .mega-toggle-block-1:before {
                    color: @thunderbird;
                }
            }
        }

        #mega-menu-dte-header {
            > li.mega-menu-item {
                border-bottom: 1px solid @mine-shaft;

                > a.mega-menu-link {
                    padding: 0 23px;

                    &:hover {
                        color: @thunderbird;
                    }
                }

                //Home Button in Navigation
                &.mega-menu-item-850 {
                    a {
                        font-size: 0;

                        &:before {
                            display: inline;
                            vertical-align: middle;

                            color: @white;

                            font-family: @google-icon-font;
                            font-size: 20px;

                            content: 'home';
                        }

                        &:hover:before {
                            color: @thunderbird;
                        }
                    }
                }
            }

            > li.mega-menu-flyout ul.mega-sub-menu {
                .transition(none);

                li.mega-menu-item a.mega-menu-link {
                    border-bottom: 1px solid @mercury;
                    height: 43px;
                    padding-left: 35px;

                    background: @white;
                    color: @black;

                    line-height: 43px;

                    pointer-events: auto;

                    &:hover {
                        color: @white;
                        background: @thunderbird;
                    }

                    &:before {
                        display: none;
                    }
                }
            }

            li.mega-menu-item-has-children {
                cursor: pointer;

                a.mega-menu-link {
                    pointer-events: none;

                    &:after {
                        display: none;
                    }

                    &:before {
                        display: inline;

                        margin: 0 0 0 -20px;

                        color: @silver;

                        font-family: @google-icon-font;
                        font-size: 20px;

                        content: 'arrow_right';
                    }
                }

                &.mega-menu-item-70 a.mega-menu-link {
                    pointer-events: auto;
                }

                &:hover,
                &.mega-toggle-on {
                    .mega-sub-menu {
                        display: none;
                    }

                    a {
                        color: @thunderbird;
                    }
                }

                &.active {
                    a.mega-menu-link:before {
                        content: 'arrow_drop_down';
                    }

                    .mega-sub-menu {
                        display: block;
                    }
                }

                //PedalBox in Navigation
                &.mega-menu-item-70,
                &.mega-menu-item-70.mega-toggle-on {
                    a:before {
                        display: none;
                    }

                    .mega-sub-menu {
                        display: none;
                    }
                }
            }
        }
    }
}

//iPad screen and up
@media only screen  and (min-width: @screen__m) {

    //Header
    .site-header.dte {
        .logo {
            width: 280px;
        }

        //Mega Menu
        #mega-menu-wrap-dte-header {
            word-wrap: normal;

            #mega-menu-dte-header {
                word-wrap: normal;

                .flex-display();

                > li.mega-menu-item {
                    border-bottom: none;

                    word-wrap: normal;

                    //Home Button in Navigation
                    &.mega-menu-item-850 {
                        margin-top: -3px;

                        a {
                            padding: 0 0 0 23px;
                            margin-right: -15px;

                            color: transparent;

                            font-size: 6px;
                            word-wrap: normal;

                            &:hover {
                                color: transparent;
                            }
                        }
                    }

                    //PedalBox Widget
                    .mega-menu-item-custom_html-3 {
                        padding: 0;
                        width: 613px !important;

                        cursor: auto;

                        .mega-block-title {
                            display: none;
                        }

                        .top-section {
                            position: relative;

                            font-size: 0;
                        }

                        img {
                            width: 613px;
                        }

                        .content {
                            position: absolute;
                            top: 25px;
                            left: 25px;

                            color: @white;

                            h2 {
                                margin: 0;

                                font-family: @dte-secondary-font;
                                font-weight: normal;
                                font-size: 23px;

                                &:before {
                                    vertical-align: middle;

                                    margin-right: 7px;

                                    color: @thunderbird;

                                    font-size: 20px;

                                    content: @double-right-pointing-angle;
                                }
                            }

                            h4 {
                                margin: -7px 0 0 21px;

                                font-size: 16px;
                                font-weight: 300;
                            }
                        }

                        .bottom-section {
                            background: @white;

                            .flex-display();

                            li,
                            li:first-child {
                                width: auto;

                                line-height: 1.2;

                                .flex-display();
                                .justify-content(start);
                                .align-items(center);

                                span {
                                    margin-left: 7px;

                                    .flex-order(2);
                                }

                                &:after {
                                    color: @thunderbird;

                                    font-family: @dte-secondary-font;
                                    font-size: 20px;

                                    content: @single-right-pointing-angle;

                                    .flex-order(1);
                                }
                            }

                            .button {
                                float: right;

                                margin-top: 15px;
                                width: inherit;
                            }
                        }

                        .column-1 {
                            .flex-display();
                            .flex(1);
                        }

                        .column-2 {
                            padding: 15px 25px 35px 0;

                            .flex(1);
                        }

                        .number {
                            margin: 15px 0 0 20px;
                        }

                        .plus,
                        .percent {
                            font-size: 30px;
                        }

                        .value {
                            font-size: 48px;
                        }

                        .description {
                            margin: 35px 0 0 10px;

                            h3 {
                                margin: 0;

                                font-weight: normal;
                                font-size: 16.5px;
                                line-height: 1.5;
                            }

                            p {
                                margin: 0;

                                font-size: 11px;
                                line-height: 1;
                            }
                        }
                    }
                }

                li.mega-menu-item-has-children {
                    .flex-display();
                    .flex-direction(column);
                    .align-items(center);

                    a.mega-menu-link {
                        padding: 0 13px;

                        word-wrap: normal;

                        pointer-events: auto;

                        &:before {
                            display: none
                        }
                    }

                    .mega-sub-menu {
                        display: block;
                        top: 40px;

                        padding: 0;
                        width: auto;
                        margin-top: 0;

                        white-space: nowrap;
                        word-wrap: normal;

                        .box-shadow(0 10px 29px 0 rgba(0, 0, 0, .17));

                        li {
                            width: 240px;
                        }

                        li:first-child {
                            .flex-display();
                            .justify-content(center);

                            &:before {
                                position: absolute;
                                display: block !important;
                                top: -2px;

                                color: white;

                                font-family: @google-icon-font;
                                font-size: 20px;
                                line-height: .1;

                                content: 'arrow_drop_up';
                            }

                            a {
                                width: 100%;
                            }

                            &:hover:before {
                                color: @thunderbird;
                            }
                        }
                    }

                    &:hover {
                        .mega-sub-menu {
                            display: block;

                            a {
                                padding: 0 20px;
                            }
                        }
                    }

                    //PedalBox in Navigation
                    &.mega-menu-item-70,
                    &.mega-menu-item-70.mega-toggle-on {
                        position: relative;

                        a:before {
                            display: none;
                        }

                        &:hover {
                            .mega-sub-menu {
                                display: block;

                                li:first-child:before {
                                    display: none !important;
                                }
                            }
                        }
                    }
                }

                > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link {
                    padding: 0 20px;
                }
            }
        }
    }
}