@import '../dte/fonts.less';
@import 'variables.less';

@{brembo-pages} {
    .menu-toggle {
        color: @firefly;

        cursor: pointer;

        i {
            font-size: 27px;
        }
    }

    .btn-close {
        display: block;
        margin-right: 15px;

        color: @silver-chalice;

        font-size: 12px;
        text-align: right;

        cursor: pointer;

        &:hover {
            color: @white;
        }
    }

    .product-button {
        display: inline-block;

        border: 1px solid @mine-shaft;
        padding: 10px 15px;
        min-width: 170px;

        color: @mine-shaft;

        text-align: center;
        text-transform: uppercase;

        &:hover {
            color: @white !important;
            background: @mine-shaft;
        }

        &:focus {
            color: @white !important;

            text-decoration: none;
        }
    }

    .brembo-pagination {
        text-align: center;
        font-size: 0;

        a {
            display: inline-block;

            padding: 11px;
            min-width: 40px;
            margin: 5px 2.5px 0;

            background: @white;
            color: @mine-shaft !important;

            font-size: 14px;

            &.current {
                color: @white !important;
                background: @mine-shaft;

                font-weight: 600;

                pointer-events: none;
            }

            &:hover,
            &:focus {
                color: @white !important;
                background: @mine-shaft;

                text-decoration: none;
            }
        }
    }

    #applist_table_wrapper,
    #applist_table-performance_wrapper,
    #applist_table-race_wrapper {
        .dataTables_paginate {
            float: none;

            text-align: center;

            .paginate_button {
                min-width: 40px;
                padding: 11px;
                margin: 0 2px 5px;
                border: none;
                border-radius: unset;

                background: @white;

                font-size: 14px;

                &.current {
                    color: @white !important;
                    background: @mine-shaft;

                    font-weight: 600;

                    pointer-events: none;
                }

                &:hover,
                &:focus {
                    color: @white !important;
                    background: @mine-shaft;

                    text-decoration: none;
                }

                &.disabled {
                    display: none;
                }
            }
        }
    }

    .search-submit {
        display: block;

        height: 44px;
        margin-bottom: 10px;
        padding: 10px 15px;
        border: 1px solid @gray;
        width: 100%;

        background: @gray;
        color: @white;

        text-align: center;
        font-weight: bold;
        font-size: 14px;

        cursor: pointer;

        &:hover {
            border: 1px solid @mine-shaft;

            background: @mine-shaft;
        }
    }
}