@import '../dte/fonts.less';
@import '../dte/mixins.less';
@import 'variables.less';
@import 'buttons.less';

@{brembo-pages} {
    position: initial;

    font-family: @brembo-primary-font;
    font-weight: lighter;

    #header-space {
        background: @white;
    }

    &.active {
        overflow-y: hidden;
    }

    span.underline {
        display: inline-block;

        border-bottom: .5px solid @black;
    }

    a,
    span.button {
        .transition(all 300ms);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: @mine-shaft;

        line-height: 1.1;
        font-family: @brembo-secondary-font;
        text-transform: uppercase;
    }

    p {
        color: @mine-shaft;

        &.has-image {
            padding-bottom: 0;
        }

        &.has-button {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    h2 {
        font-weight: 400;

    }

    .row {
        margin: 0;
    }

    .carousel {
        opacity: 1;
    }

    .container {
        max-width: 1200px !important;
        width: 100%;
        padding: 0;

        background: @white;

        &.brembo {
            right: 0;

            width: auto;
            max-width: none !important;

            .transition(all 0.5s ease-in-out);

            &.active {
                right: 250px;

                .overlay {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    overflow: hidden;
                    z-index: 100;

                    height: 100%;
                    width: 100%;

                    background: @black;

                    .opacity(.5);
                }
            }

            .overlay {
                display: none;
            }
        }
    }

    article.post {
        border: none;
        border-radius: unset;
        padding: 0;
        margin-bottom: 0;

        line-height: 1.6;

        table {
            max-width: 100%;

            color: @black;

            font-size: 14px;

            tbody {
                border-top: 1px solid @silver;

                td {
                    border: none !important;
                    padding: 5px;

                    &.rtecenter {
                        vertical-align: middle;
                    }
                }
            }

            p {
                text-align: left;
                font-weight: lighter;
            }

            ul {
                margin-left: 0;

                text-align: left;
                font-weight: lighter;
            }

            li {
                color: @black;
            }
        }

        &.default {
            background: @gallery;
            color: @black;

            .headline h2 {
                text-align: left;
            }

            h2 {
                margin-bottom: 25px;

                font-size: 30px;
                text-align: center;

                &.page-title {
                    margin-bottom: 0;

                    font-size: 18px;
                }

                &.col-1 {
                    font-size: 80px;
                }

                &.col-2 {
                    margin-top: 100px;

                    font-size: 20px;
                    font-weight: 600;
                }

                &.col-3 {
                    margin: 50px 0 40px;
                    font-size: 25px;

                    span {
                        display: block;
                    }
                }

                a {
                    color: @mine-shaft;

                    &:hover {
                        color: @red;
                    }
                }
            }

            .has-button a {
                color: @mine-shaft;
            }

            .two-column {
                img {
                    float: left;

                    margin: 0 10px 10px 0;
                }
            }


            ul {
                padding-left: 40px;
            }

            p {
                &.title-info {
                    font-size: 23px;
                }

                &.has-image {
                    text-align: center;
                }
            }

            a {
                color: @red;
            }

            strong {
                font-family: @brembo-primary-font;
                font-weight: 500;
            }

            .three-column {
                margin: 40px 0 70px;
                padding: 0 15px;
            }

            .title-container {
                height: 150px;
                border-bottom: 1px solid @white;
                padding: 0 15px;

                .flex-display();
                .align-items(center);
                .justify-content(center);
            }

            .main-section {
                padding: 30px 15px 50px 15px;
            }

            .inner-container {
                padding: 30px 20px;

                background: @white;
            }
        }

        //Knowledgebase
        &.knowledgebase {
            .inner-container {
                padding: 0;
                background: transparent;
            }

            .column {
                padding: 15px;
                margin-bottom: 10px;

                background: @white;

                text-align: center;
            }

            h2 {
                margin: 12px 0 0 0;
                font-size: 25px;

                &.page-title {
                    margin: 0;

                    font-size: 18px;
                }

                a {
                    display: inline;
                }
            }

            span {
                display: block;

                margin-bottom: 25px;
            }

            ul {
                padding-left: 25px;
                margin-left: 0;

                text-align: left;

                li {
                    list-style: decimal;
                }
            }

            a {
                display: block;

                color: @mine-shaft;

                text-align: left;

                &:hover {
                    color: @red;
                }
            }
        }

        //Documentation, Glossary, & FAQ
        &.knowledgebase-children {
            .inner-container {
                overflow: hidden;

                margin-bottom: 30px;
                padding-bottom: 0;
            }

            h2 {
                margin: 0 0 25px;
            }

            .product-button {
                margin: 30px 0 25px;
                min-width: 120px;
            }

            p.has-button {
                margin-bottom: 0;
            }

            .content {
                a {
                    color: @red;
                }
            }

            .brembo-pagination {
                margin: 55px auto 50px;
            }

            .two-column {
                .flex-display();
                .flex-direction(column);
            }
        }

        //Product Pages
        &.product {
            .inner-container {
                padding: 0 15px;
                background: transparent;
            }

            .product-column {
                position: relative;

                height: 913px;
            }

            .description {
                .product-line-label {
                    width: 50px;
                    height: 50px;
                }

                .product-name a {
                     max-width: 80%;
                 }

                p.details {
                    text-align: left;
                }

                ol {
                    padding-left: 40px;
                    margin: 0 0 20px;
                }
            }

            a.product-button {
                position: absolute;
                bottom: 35px;
                left: 30px;

                color: @mine-shaft;
            }


        }

        a {
            color: @mine-shaft;

            &:hover {
                color: @red;

                text-decoration: none;
            }

            &:focus {
                color: @silver;

                text-decoration: none;
            }
        }

        p {
            padding-bottom: 0;
            margin-bottom: 20px;
        }

        h2 {
            &.title {
                margin-bottom: 25px;

                text-transform: uppercase;
                font-size: 18px;

                &:after {
                    display: block;

                    width: 140px;
                    margin-top: 1px;
                    height: .8px;

                    background: @firefly;

                    content: '';
                }
            }

            &.title-2 {
                font-size: 30px;

                &:after {
                    margin-top: 3px;
                }
            }
        }

        //Homepage
        .inner-container {
            padding: 0 15px;
        }

        .main-section {
            padding-top: 30px;

            background: @wild-sand;
        }

        .product-column {
            margin-bottom: 25px;

            background: @white;

            img {
                margin: 35px 0;
            }
        }

        .description {
            position: relative;

            padding: 0 24px;

            .product-line-label {
                position: absolute;
                top: -12px;
                right: 0;

                width: 40%;

                color: @white;
                background: @tundora;

                font-size: 12.5px;
                font-weight: 400;
                line-height: 50px;
                text-align: center;
            }

            .product-name a {
                display: inline-block;

                max-width: 50%;
                margin-top: -4px;

                color: @mine-shaft;

                font-size: 14px;
                text-transform: uppercase;
                font-weight: 400;

                &:hover {
                    color: @red;
                }
            }

            p.details {
                margin-top: 20px;

                text-align: justify;
            }
        }

        .who-we-are,
        .second-section {
            margin-top: 80px;

            .content {
                padding-bottom: 20px;

                text-align: center;
            }

            h2.rtcenter {
                margin-bottom: 5px;

                font-size: 40px;
                text-transform: uppercase;
            }

            h3 {
                margin-bottom: 25px;

                font-size: 20px;
                line-height: 1.3;
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: normal;
            }

            h4 {
                margin-bottom: 0;

                font-size: 14px;
                letter-spacing: normal;
            }
        }

        .second-section {
            margin-top: 0;
            padding: 60px 0 40px;

            background: @white;

            h2.title {
                margin-bottom: 0;
                padding-bottom: 4px;
            }

            h3 {
                margin: 20px 0 10px;

                font-size: 30px !important;
            }

            .content {
                padding-bottom: 0;
            }

            p {
                text-align: center;
            }
        }
    }

    .products-by-intended-use {
        margin-bottom: 48px;

        h2.title {
            padding: 0 15px;
        }

        .title-bar {
            background: @tundora;
            color: @white;

            font-family: @brembo-primary-font;
            font-size: 20px;
            line-height: 50px;

            .inner-container {
                padding: 0;

                .flex-display();
                .justify-content(center);

                div {
                    width: 96.66px;
                    border-left: .5px solid @white;

                    text-align: center;

                    &:first-of-type {
                        border: none;
                    }
                }
            }
        }

        .products-bar {
            padding: 0 15px;

            a {
                color: @mine-shaft;

                &:hover {
                    color: @red;
                }
            }

            div {
                border-bottom: 2px solid @red;
                margin-bottom: 7.5px;

                text-align: right;

                span {
                    display: block;

                    margin-bottom: 5px;
                }
            }

            .oem {
                width: 27%;
                margin-top: 20px;
                border-color: @gray;

                span {
                    margin-right: 8%;
                }
            }

            .sport {
                width: 32%;
            }

            .gt {
                width: 76%;

                span {
                    margin-right: 18%;
                }
            }

            .gt-r {
                width: 91%;

                span {
                    margin-right: 22%;
                }
            }

            .race {
                width: 67%;
                margin-left: 33%;

                span {
                    margin-left: 8%;

                    text-align: left;
                }
            }
        }
    }

    //Slideshow
    .owl-carousel {
        margin-bottom: 5px;

        a:hover {
            text-decoration: none;
        }

        .owl-nav {
            display: none;

            line-height: .5;
        }

        .next,
        .previous {
            display: none;
        }

        .owl-item {
            height: 340px;
        }

        .views-row {
            height: 100%;
        }

        .slide-main-content {
            position: relative;

            .container {
                padding: 32px 15px !important;
                height: 340px;
                margin: auto;
                background: transparent;
            }
        }

        .views-field {
            &.views-field-nothing {
                position: absolute;

                height: 100%;
                width: 100%;

                .field-content {
                    height: 100%;
                }
            }

            &.views-field-title {
                padding: 12px 18px;
                max-height: 160px;
                margin-bottom: 5px;

                background: @slider-text-background;
                color: @white;

                font-size: 40px;
                text-transform: uppercase;
                line-height: 40px;
                font-family: @brembo-secondary-font;
                font-weight: 200;

                a {
                    color: @white;
                }
            }

            &.views-field-field-teaser-text p {
                padding: 12px 18px;
                max-height: 160px;

                background: @slider-text-background;
                color: @white;

                line-height: 1.25;
                font-size: 20px;
            }

            .field-content br {
                display: none;
            }
        }

        .slideshow-image {
            height: 100%;

            img {
                min-height: 500px;
                min-width: 1417px;
            }
        }
    }
}

//Screens 360px and up
@media only screen  and (min-width: @screen__xxss) {
    @{brembo-pages} {
        article.post {
            h2.title {
                font-size: 24px;
            }

            //Documentation, Glossary, & FAQ
            &.knowledgebase-children {
                .two-column {
                    .flex-direction(row);

                    img {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

//Screens 640px and up
@media only screen  and (min-width: @screen__s) {
    @{brembo-pages} {
        article.post {
            &.default {
                h2 {
                    &.page-title {
                        font-size: 30px;
                    }

                    &.col-3 {
                        margin-top: 100px;
                    }
                }

                .inner-container {
                    padding: 30px;
                    margin: auto;
                }
            }

            //Knowledgebase
            &.knowledgebase {
                .inner-container {
                    padding: 0;
                }

                .main-section {
                    padding: 15px;
                }
            }

            //Documentation, Glossary, & FAQ
            &.knowledgebase-children {
                .brembo-pagination {
                    margin: 55px auto 10px;
                }

                .inner-container {
                    margin-bottom: 30px;
                }
            }

            //Product Pages
            &.product {
                .main-section {
                    padding: 60px 0;
                }

                .inner-container {
                    padding: 0 15px;
                }

                .product-column {
                    margin: 0 15px;
                    height: auto;
                }

                .description {
                    padding: 0 30px;

                    .product-line-label {
                        height: 50px;
                        min-width: 50px;
                    }

                    .product-name {
                        position: absolute;
                        top: 0;

                        span {
                            display: block;

                            margin-top: 15px;
                        }
                    }

                    p.details {
                        margin-top: 70px;

                        .flex(none);
                    }
                }

                a.product-button {
                    position: unset;

                    margin-left: 30px;
                }
            }

            //Homepage
            .main-section {
                padding-top: 60px;
            }

            h2.title {
                margin: 0 auto 27px auto;

                font-size: 30px;

                &:after {
                    margin-top: 3px;
                }
            }

            .content.products {
                .flex-display();
            }

            .product-column {
                margin: 0 5px;

                .flex-display();
                .flex-direction(column);
                .flex(1);

                img {
                    margin-top: 0;
                }
            }

            .description {
                .flex-display();
                .flex-direction(column);
                .flex(1 0 auto);

                p.details {
                    .flex(1 0 auto);
                }

                .product-name {
                    padding-bottom: 0;

                    a {
                        font-size: 20px;
                        line-height: 1.4;
                    }
                }

                .product-line-label {
                    position: relative;
                    float: left;

                    width: auto;
                    margin: 0 -24px 0 auto;
                    min-width: 90px;
                    padding: 0 8px;
                }
            }

            .product-button {
                min-width: 40%;
            }

            .who-we-are,
            .second-section {
                .content {
                    padding: 0 78px 20px;
                }

                h2.rtcenter {
                    font-size: 60px;
                }

                h3 {
                    font-size: 27.5px;
                    line-height: 1.5;
                }
            }

            .second-section {
                .content {
                    padding-bottom: 0;
                }
            }
        }

        .products-by-intended-use {
            .title-bar {
                .inner-container {
                    margin: auto;
                    padding: 0 15px;

                    font-weight: 400;

                    div {
                        width: 33.333%;
                        border-width: 2px;
                    }
                }
            }

            .products-bar {
                padding: 0;

                .oem span {
                    margin-right: 70px;
                }

                .sport span {
                    margin-right: 48px;
                }

                .gt span {
                    margin-right: 180px;
                }

                .gt-r span {
                    margin-right: 190px;
                }

                .race span {
                    margin-left: 75px;
                }
            }
        }

        //Slideshow
        .owl-carousel {
            position: relative;

            .slide-main-content .container {
                width: 970px !important;
            }

            .owl-nav {
                display: block;
            }

            span.button {
                position: absolute;
                display: block;
                top: 50%;

                width: 40px;
                height: 100px;
                padding: 32px 0;
                margin-top: -50px;

                background: @white !important;
                color: @black;

                text-align: center;

                &:hover {
                    background: @mine-shaft !important;
                    color: @white;
                }
                &.owl-prev {
                    left: 0;
                }

                &.owl-next {
                    right: 0;
                }

                span {
                    font-size: 45px;
                }
            }

            .views-field {
                &.views-field-title {
                    width: 425px;
                    margin-left: 42px;
                }

                &.views-field-field-teaser-text p {
                    width: 425px;
                    margin-left: 42px;
                }

            }
        }
    }
}

//iPad screens and up
@media only screen  and (min-width: @screen__m) {
    @{brembo-pages} {
        article.post {
            &.default {
                .column {
                    padding: 15px;

                    .flex(1);
                }

                .headline {
                    .flex(1);
                }

                h2 {
                    &.col-1,
                    &.col-2,
                    &.col-3 {
                        margin: 0;
                        height: 170px;

                        .flex(1);
                    }

                    &.col-1 {
                        line-height: 55px;
                    }
                }

                .main-section {
                    padding: 60px 24px 90px;
                }

                .three-column {
                    padding: 0;

                    .flex-display();
                }

                .inner-container {
                    max-width: 750px;
                }
            }

            //Documentation, Glossary, & FAQ
            &.knowledgebase-children {
                .inner-container {
                    margin-bottom: 30px;
                    padding-bottom: 0;
                }

                h2 {
                    margin-left: 0;
                }

                .product-button {
                    margin-left: 0;
                    min-width: 170px;
                }

                .main-section {
                    padding: 60px 24px 50px;
                }
            }

            //Product Pages
            &.product {
                .main-section {
                    padding: 60px 15px 90px;
                }

                .inner-container {
                    padding: 0 10px;
                }

                .product-column {
                    img {
                        margin-bottom: 12px;
                    }
                }
                .description {
                    .product-name {
                        position: unset;

                        a {
                            line-height: 1.4;
                        }
                    }

                    p.details {
                        margin-top: 0;
                    }
                }

                p.has-button {
                    margin-bottom: 30px;
                }
            }

            //Homepage
            .description {
                .product-line-label {
                    position: absolute;

                    margin: auto;
                }

                .product-name a {
                    line-height: 2;
                }
            }

            .who-we-are {
                .content {
                    padding-bottom: 50px;
                }
            }
        }
    }
}

//Screens with a width of 990px and up
@media only screen  and (min-width: @screen__xsl) {
    @{brembo-pages} {
        &.active {
            overflow: visible;
        }

        .container {
            &.brembo {
                &.active {
                    right: 0;

                    .overlay {
                        display: none;
                    }
                }
            }
        }

        article.post {
            table {
                tbody td {
                    vertical-align: middle;
                }
            }

            &.default {
                h2 {
                    &.col-1,
                    &.col-2,
                    &.col-3 {
                        height: 115px;
                    }
                }

                .three-column {
                    margin-bottom: 50px;
                }

                .inner-container {
                    width: unset;
                    max-width: 940px;
                }
            }

            //Knowledgebase
            &.knowledgebase {
                .inner-container {
                    .flex-display();
                }

                .column {
                    margin-left: 10px;

                    .align-self(flex-start);

                    &:first-of-type {
                        margin-left: 0;
                    }
                }

                ul {
                    min-height: 320px;
                }
            }

            //Product Pages
            &.product {
                .inner-container {
                    padding: 0;
                }

                .description {
                    padding: 0 20px;

                    .product-name span {
                        margin-top: 0;
                    }
                }

                a.product-button {
                    margin: 0 0 10px 20px;
                }
            }

            //Homepage
            .inner-container {
                width: 970px;
                margin: auto;
            }

            .product-column {
                img {
                    margin-bottom: 20px;
                }
            }

            .description {
                padding: 0 20px;

                .product-line-label {
                    width: 40%;
                    font-size: 16px;
                }

                .product-name {
                    min-height: 55px;

                    a {
                        max-width: 60%;

                        line-height: 1.4;
                    }
                }

                p.details {
                    margin: 10px 0 25px;
                }
            }

            .product-button {
                min-width: 150px;
            }

            .who-we-are,
            .second-section {
                .content {
                    padding: 0 160px 50px;
                }

                h2.rtcenter {
                    font-size: 80px;
                }

                h3 {
                    font-size: 27.5px;
                    line-height: 1.5;
                }
            }

            .second-section {
                .content {
                    padding-bottom: 0;
                }

                h3 {
                    line-height: 1.25;
                }
            }
        }

        .products-by-intended-use {
            h2.title {
                width: 970px;
            }

            .title-bar {
                .inner-container {
                    width: 970px;
                }
            }

            .products-bar {
                .oem span {
                    margin-right: 48px;
                }

                .sport span {
                    margin-right: 48px;
                }

                .gt span {
                    margin-right: 310px;
                }

                .gt-r span {
                    margin-right: 365px;
                }

                .race span {
                    margin-left: 115px;
                }
            }
        }

        //Slideshow
        .owl-carousel {
            .owl-item {
                height: 500px;
            }

            .slide-main-content {
                .container {
                    height: 500px !important;
                    width: 970px !important;
                }
            }

            .views-field {
                &.views-field-title {
                    max-height: none;

                    font-size: 55px;
                    line-height: 55px;
                }

                &.views-field-field-teaser-text p {
                }

            }
        }
    }
}

//Screens with a width of 1200px and up
@media only screen  and (min-width: @screen__sxl) {
    @{brembo-pages} {
        article.post {
            &.default {
                .inner-container {
                    max-width: 1140px;
                }

                h2 {
                    &.col-1,
                    &.col-2,
                    &.col-3 {
                        height: 90px;
                    }
                }
            }

            //Product Pages
            &.product {
                .description {
                    padding: 10px 30px 0;
                }

                .product-column {
                    img {
                        margin-bottom: 0;
                    }
                }

                a.product-button {
                    margin: 15px 0 20px 30px;
                }
            }

            //Homepage
            .inner-container {
                width: 1170px;
            }

            .product-column {
                img {
                    margin-bottom: 0;
                }
            }

            .description {
                padding: 17px 30px 0;

                .product-line-label {
                    top: 0;
                    margin-top: 0;
                }
            }

            .product-button {
                min-width: 170px;
            }

            .who-we-are {
                .content {
                    padding: 0 200px 50px;
                }
            }
        }

        .products-by-intended-use {
            h2.title {
                width: 1170px;
            }

            .title-bar .inner-container {
                width: 1170px;
            }

            .products-bar {
                max-width: none !important;
            }
        }

        //Slideshow
        .owl-carousel .slide-main-content .container {
            width: 1170px !important;
        }
    }
}